/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2015, 5:57:15 PM
    Author     : lars
*/

td.details-control {
    background: url('icons/magnifier.png') no-repeat center center;
    cursor: pointer;
}

td.edit-control {
    background: url('icons/pencil.png') no-repeat center center;
    cursor: pointer;
}

